
body{
	margin:none;
	/*background-image:url("../images/linedpaper.png");*/
	background-color:#D4D5D6;
	background-image:url("../images/brushed-alum-dark.png");
}

.container{
	margin:0;
}

#logo{
	height:40px;
}

.container-fluid{
	background-image:none;
	background-color:#A7B3A5;
}


.panel-default>.panel-heading{
	background-image:none;
	text-align: center;
	background-color:#999999;
	padding:10px;
	color:white;
	border-radius: 15px;
	margin:none;
	font-family: 'Abel', sans-serif;
	font-size:40px;

}

.panel-title{
	font-size:30px;
}

#resultsPanel{
	border:2px solid white;
	border-radius: 15px;
	word-break:break-all;
}

#searchBtn{
	margin-left:430px;
	padding:10px;
	background-image:none;
}

#signout{
	margin-left:100px;
	font-family: 'Abel', sans-serif;
}


.form-group > .form-control{
	width:350%;
	height:50px;
	font-size:18px;
	font-family: 'Abel', sans-serif;
}


.pin-search{
	margin-top:30px;
	margin-right:30px;
	border-radius:15px;
	padding-bottom:40px;
	background-color:#B56357;
	border:3px solid white;
	color:white;
	text-align:center;
	font-family: 'Abel', sans-serif;
	font-size:20px;
	font-style:bold;
}

#pin-search-og{
	margin-top:0;
}

#list-heading{
	color:white;
	text-align:center;
}



