
/* Entire html document (backgrounds)*/
html{
	height:100%;
}

body{
	background-color:#D4D5D6;
	background-image:url("../images/brushed-alum-dark.png");
	height:100%;
	max-width:100%;
	overflow-x:hidden;
	overflow-y:hidden;
	overflow-y: auto;
    max-height: 550px;
    height: 100%;
}

.container{
	margin:0;
}

.container-fluid{
	background-image:none;
	background-color:#A7B3A5;
}



/* Nav Bar */
.navbar .navbar-default{
	display:inline-block;
}

#logo{
	height:40px;
}

#signout{
	font-family: 'Abel', sans-serif;
	margin-top:15px;
	display: inline-block;
	margin-left:-50px;
}


#searchBtn{
	padding:10px;
	background-image:none;
	background-color: rgba(170, 104, 91, .5);
	border: none;
	border-radius: 5px;
	margin:0;
	margin-left:-50px;
}


/* search bar */
.form-group > .form-control{
	height:50px;
	font-size:18px;
	font-family: 'Abel', sans-serif;
	display:inline;
	margin-top:10px;
	margin-bottom:10px;
}

.form-control{
	width:87%;
}

.form-group{
	display:inline;
}

/* Results Panel */
.panel-default>.panel-heading{
	background-image:none;
	text-align: center;
	background-color:#999999;
	padding:10px;
	color:white;
	border-radius: 15px;
	margin:0;
	font-family: 'Abel', sans-serif;
	font-size:40px;
}

.panel-title{
	font-size:30px;
}



/* Results showing up from JS code*/
#resultsPanel{
	border:2px solid transparent;
	border-radius: 10px;
	word-break:break-all;
	overflow-y: auto;
	max-height:550px;
	height:100%;
	margin-right:10px;
}

#left{
	margin-left: 10px;
	margin-right: 10px;
}

#side-bar{
	overflow-y: auto;
    max-height: 550px;
    height: 100%;
}


/* pinbox stick notes on left */
.pin-search{
	margin-top:30px;
	margin-right:30px;
	border-radius:15px;
	background-color:#B56357;
	border:3px solid white;
	color:white;
	text-align:center;
	font-family: 'Abel', sans-serif;
	font-size:20px;
	font-style:bold;
}

.pin-search:active {
	width:200px;
	height:150px;
}

#pin-search-og{
	margin-top:0;
}

#list-heading{
	color:white;
	text-align:center;
}

/*Dragula drag and drop presets */ 
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

